azure-search-documents==11.6.0b3
azure-storage-blob==12.25.1
diagrams==0.24.4
faiss-cpu==1.11.0
fastapi==0.115.12
fastapi-cli==0.0.7
fpdf==1.7.2
httptools==0.6.4
langchain-community==0.3.23
langchain-openai==0.3.14
langgraph==0.4.1
Markdown==3.8
mermaid-python==0.1
opentelemetry-api==1.32.1
pdfminer==20191125
pip-tools==7.4.1
pipdeptree==2.26.1
python-multipart==0.0.20
python-pptx==1.0.2
unstructured==0.17.2
uvloop==0.21.0
watchfiles==1.0.5
websockets==15.0.1
